/*Start Main Rulez*/

body {
  font-family: Arial, Tahoma;
  height: 1900px;
  pading: 0px;
  margin: 0px;
}
.container {
  width: 1170px;
  margin: auto;
}
.clearfix {
  clear: both;
}

/*End Main Rulez*/

/*Star Header*/

header .slider {
  background-image: url("https://i.imgur.com/PhxdC0o.jpg");
  background-size: cover;
  height: 1000px;
}
header .slider .intro {
  padding-top: 215px;
  text-align: center;
}
header .slider .intro h2 {
  color: white;
  font-size: 45px;
  margin: 0 auto;
  width: 500px;
  border-top: 3px solid #e84c3d;
  border-bottom: 3px solid #e84c3d;
  padding: 15px 0;
}
header .slider .intro h3 {
  color: white;
}
header nav {
  background-color: #222222;
  color: #fff;
  overflow: hidden;
}
header nav h2 span {
  color: #e84c3d;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  float: right;
}
header nav ul li {
  float: left;
  padding: 10px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #e84c3d;
}

/*End Header*/

/*Start Features*/

.Features {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 55px;
}
.Features .feat {
  width: 33.33333%;
  height: 150px;
}
.Features .feat h2 {
  color: #e84c3d;
}
.Features .feat p {
  line-height: 1.7;
  color: #666;
  text-align: justify;
  padding: 0 20px 0;
}

/*Start Features*/

/*Start About Me*/

.about-me {
  background-color: #f2f2f2;
  overflow: hidden;
}
.about-me .image {
  width: 40%;
}
.about-me .image img {
  width: 100%;
}
.about-me .info {
  width: 60%;
}
.about-me .info h2 {
  margin: 35px 0 20px 50px;
}
.about-me .info h3 {
  margin: 35px 0 20px 50px;
}
.about-me .info > p {
  margin: 35px 0 20px 50px;
}
.about-me .info p {
  margin: 35px 0 20px 50px;
  line-height: 1.6;
  color: #666;
  font-size: 25px;
}
.about-me .info .Hobbies {
  overflow: hidden;
  margin: 25px 0 0 50px;
}
.about-me .info .Hobbies > div {
  width: 50%;
  min-height: auto;
}

.about-me .info .Hobbies > div h3 {
  color: #e84c3d;
}

/*End About Me*/
.Timeline {
  height: 50px;
  display: flex; /* 或者 display: table-cell */
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
}
.wrap {
  background-color: #f2f2f2;
}
.wrap {
  max-width: 60%;
  margin: 50px auto;
  padding-left: 20px;
  border-left: 6px solid #fff;
  border-radius: 0%;
}
.wrap li {
  margin: 2em 0;
  list-style-type: none;
  position: relative;
}
.wrap li input {
  display: none;
}
.wrap li .lab {
  margin: 23px 0 10px;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.wrap li .date {
  position: absolute;
  left: -120px;
  top: 50%;
  margin-top: -7px;
  font-size: 20px;
}
.wrap li .circle {
  width: 8px;
  height: 8px;
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -4px;
  border: 3px solid #000;
  background-color: #4377e6;
  border-radius: 50%;
}
.wrap li .content {
  max-height: 50px;
  border: 2px solid transparent;
  padding: 0px 10px 20px 0px;
  border-radius: 10px;
  position: relative;
  transition: max-height 0.3s linear, border-color 0.3s linear,
    transform 0.2s ease, padding 0.3s linear;
}
.wrap li .content p,
.wrap li .content a {
  font-size: 16px;
  color: transparent;
  transition: color 0.2s linear;
}
.wrap li .content:before,
.wrap li .content:after {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  right: 100%;
  border: solid transparent;
  content: "";
}
.wrap li .content:after {
  border-width: 13px;
  border-right-color: #73818d;
  margin-top: -10px;
}
input:checked ~ .content {
  max-height: 200px;
  padding-left: 20px;
  border-color: #000;
  transform: translate3D(20px, 0, 0);
}
input:checked ~ .content p {
  color: #000;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}
input:checked ~ .content a {
  color: #00f;
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}
input:checked ~ .content .lab {
  cursor: auto;
}

/*Start My Skills*/

.my-skills {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.my-skills .skills,
.my-skills .progress {
  width: 50%;
}
.my-skills .skills h2 {
  margin: 35px 0 20px 50px;
  color: #e84c3d;
}
.my-skills .skills p {
  margin: 0px 0px 10px 40px;
  line-height: 1.6;
  color: #666;
}
.my-skills .skills p:last-of-typ {
  margin-top: 30px;
}
.my-skills .skills button {
  background: none;
  border: 2px solid #e84c3d;
  padding: 10px 30px;
  color: #e84c3d;
  margin-left: 40px;
  font-weight: bold;
  margin-top: 10px;
  transition: margin 1s ease;
}
.my-skills .skills button:hover {
  color: #fff;
  background: #e84c3d;
  cursor: pointer;
  margin-left: -1px;
}
.my-skills .progress .tec {
  margin-left: 50px;
}

.my-skills .progress .tec h3 {
  color: #e84c3d;
}
.my-skills .progress .tec div {
  background-color: #ddd;
  height: 8px;
}
.my-skills .progress .tec div span {
  background-color: #e84c3d;
  height: 8px;
  display: block;
  line-height: 25px;
  text-align: right;
}

/*End My Skills*/

/*Start Resume*/

.resume {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
.resume h2 {
  color: #e84c3d;
  text-transform: uppercase;
  font-weight: bold;
}

.resume p {
  line-height: 1.6;
  color: #666;
  padding: 0 40px;
  font-weight: bold;
}

.resume button {
  background: none;
  border: 2px solid #e84c3d;
  padding: 10px 30px;
  color: #e84c3d;
  margin-top: 20px;
  margin-left: 40px;
  font-weight: bold;
  transition: margin 1s ease;
}
.resume button:hover {
  color: #fff;
  background: #e84c3d;
  cursor: pointer;
  margin-top: -2px;
}

/*End Resume*/

/*Start My Education*/

.my-Education {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.my-Education .main {
  width: 50%;
  margin-right: 5%;
}
.my-Education .main {
  color: #e84c3d;
}
.my-Education .main p {
  margin: 0px 0px 10px 40px;
  line-height: 1.6;
  color: #666;
}

.my-Education .main p:last-of-typ {
  margin-top: 30px;
}
.my-Education .exp {
  width: 45%;
}
.my-Education .exp h3 {
  margin-top: 80px;
  margin-bottom: 10px;
  color: #e84c3d;
}
.my-Education .exp span {
  display: block;
  margin-bottom: 10px;
}
.my-Education .exp span:first-of-type {
  color: #666;
}
.my-Education .exp span:last-of-type {
  color: #fff;
  background-color: #e84c3d;
  display: inline-block;
  padding: 4px;
}
.my-Education .exp hr {
  margin: 20px 0px;
  background-color: #999;
  height: 1px;
  border: 0px;
}
.my-Education .exp p {
  line-height: 1.7;
  color: #666;
}

/*End My Education*/

/*Start testemonials*/

.testemonials {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 65px;
  text-align: center;
}
.testemonials q {
  color: #666;
  font: italic bold 18px/1.8 Arial, Tahoma;
}
.testemonials h3 {
  color: #777;
  margin-bottom: 30px;
  font-weight: bold;
}
.testemonials ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.testemonials ul li {
  width: 15px;
  height: 15px;
  border: 2px solid #e84c3d;
  display: inline-block;
}
.testemonials ul li.active {
  background-color: #e84c3d;
}
.testemonials ul li:hover {
  background-color: #e84c3d;
  cursor: pointer;
  border-radius: 50%;
}

/*End testemonials*/

/*Start Portfolio*/

.Portfolio {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
.Portfolio h2 {
  color: #e84c3d;
}
.Portfolio p {
  line-height: 1.7;
  color: #666;
  margin-bottom: 35px;
}
.Portfolio .our-work {
  overflow: hidden;
}
.Portfolio .our-work > div {
  width: 33.333333%;
  margin-bottom: 10px;
}
.Portfolio .our-work > div img {
  padding: 3px;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 6px #ccc;
  margin-top: 0px;
  transition: margin 1s ease;
}
.Portfolio .our-work > div img:hover {
  cursor: pointer;
  margin-left: -65px;
}

/*End Portfolio*/

/*Start Contact Me*/

.contact {
  background-color: #252f31;
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 70px;
}
.contact h2 {
  color: #e84c3d;
  margin-left: 40px;
}
.contact .info {
  width: 50%;
  margin-right: 5%;
}
.contact p {
  color: #fff;
  line-height: 1.7;
  margin-left: 40px;
}
.about-me .info h2 {
  margin: 35px 0 20px 50px;
  color: #444;
}
.contact .info address {
  color: #fff;
  line-height: 1.7;
  margin-left: 40px;
}
.contact .info p strong {
  color: #e84c3d;
}
.contact .form {
  width: 45%;
}
.contact .form label {
  display: block;
  color: #fff;
  margin: 20px 0;
}
.contact .form input[type="text"] {
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0px;
  width: 80%;
  margin-bottom: 10px;
}
.contact .form input[type="Email"] {
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0px;
  width: 80%;
  margin-bottom: 10px;
}
.contact .form textarea {
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0px;
  width: 80%;
  margin-bottom: 10px;
  height: 200px;
}
.contact .form input[type="submit"] {
  background: none;
  border: 2px solid #e84c3d;
  padding: 10px 30px;
  color: #e84c3d;
  font-weight: bold;
}

.contact .form input[type="submit"]:hover {
  color: #fff;
  background: #e84c3d;
  cursor: pointer;
}

/*End Contact Me*/

/*Start Footer*/

.footer {
  background-color: #222222;
  color: #4b5557;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: right;
}
.footer ul li {
  display: inline-block;
}
.footer ul li img {
  width: 30px;
  padding: 0px 20px 0px 0px;
}

/*End Footer*/

/* Start FrameWork*/

.f {
  float: left;
}

/* End FrameWork*/